.table-body

{
	overflow-x: auto;
	

}
.responsive-table
{
	table-layout: fixed;
}
.responsive-table th:nth-child(1),
.responsive-table td:nth-child(1)
{
	width: 60px;
}
.responsive-table th:nth-child(2),
.responsive-table td:nth-child(2)
{
	

	width: 700px;
}

.responsive-table th:nth-child(3),
.responsive-table td:nth-child(3)
{
	width: 300px;
}
.td-left-body
{
	width: 200px;
	margin: 0;
	float: left;
	/*border:1px solid;*/
}
.td-left-body img
{
	border-radius: 50%;
}
.td-right-body
{
	width: 480px;
	margin: 0;
	float: right;
	border:0px solid;
}
.td-right-body-name
{
	width: 100%;
	margin-bottom: 1%;
	box-shadow: 2px 2px 8px lightgrey,0px -2px 8px lightgrey;
	padding: 2px 0 0 12px;
	font-size: 15px;
	word-break: keep-all;
	border: 0px solid red;

}
.td-right-body-email-mobile
{
	width: 100%;
	margin-bottom: 10%;
	border: 1px solid red;
}
thead tr th 
{
	text-align: center;
}
.export
{
	float: right;
	background-color:   #00b2e6;
	color: white;
}
.export:hover
{
	background-color: white;
	border: 1px solid;
	border-color:  #61e3ba;
	color:  #61e3ba;
	transition: 0.5s background-color;
}
.list_view
{
	/*float: right;*/
	background-color:   #00b2e6;
	color: white;
	width: 100%;
	font-weight: bolder;
}
.list_view:hover
{
	background-color: white;
	border: 1px solid;
	border-color:  #61e3ba;
	color:  #61e3ba;
	transition: 0.5s background-color;
}