body{
	margin: 0;
}
a{
	text-decoration: none;

}
a:hover{
	text-decoration: none;
}
/*================================sidebar starts==========================================*/
.side-bar{
	border: 0px solid red;
	position: fixed;
	top: 0;
	left:0;
	bottom: 0;
	overflow: auto;
	background-color: #FF0A43;
	-webkit-box-shadow: 3px 3px 10px grey,0px -1px 20px grey;
	box-shadow: 3px 3px 10px grey,0px -1px 20px grey;
	
}
.side-bar-link-close{
	display: none;
}
.side-bar-link{
	color: white;
	font-family: monospace;
	font-size: 18px;
	border-bottom: 1px solid ;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 8px;
	margin-top: 2%;
}
.side-bar-link:hover{
	border-bottom: 1px solid white;
	background-color: white;
	margin-top: 2%;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	-webkit-box-shadow: 2px 2px 6px white,1px 0px 15px black;
	box-shadow: 2px 2px 6px white,1px 0px 15px black;
	color: black;

}
.side-bar-link>a{
	color: white;
}
.side-bar-link>a:hover{
	color: black;
}
/*==================================sidebar ends=========================================*/
/*==================================right nav bar starts=================================*/
.right-bar{
	border: 0px solid red;
	position: fixed;
	top: 0;
	right:0;
	bottom: 0;
	overflow: auto;

}
.nav-bar{
	border: 0px solid blue;
	height: 50px;
	background-color: #FF0A43 ;
	-webkit-box-shadow: 2px 2px 6px white,1px 0px 15px black;
	box-shadow: 2px 2px 6px white,1px 0px 15px black;
}
.right-nav-bar{
	border: 0px solid black;
	height: 50px;
}
.menu{
	display: none;
}
.notification{
	border: 0px solid black;
	position: relative;
	float: right;
	right: 60px;
	display: table;
	line-height: 45px;
	font-size: 22px;
	color: white;
}
.notification-badge{
	position: absolute;
	left: 10px;
	bottom: 22px;
	font-size: 10px;
}
.profile-pic{
	border: 0px solid black;
	float: right;
	margin-right: 20px;
	line-height: 45px;
}
.profile-pic img{
	border-radius: 50%;
}
/*==================================right nav bar ends=================================*/
/*==================================right bar body starts==============================*/
.box{
	margin-top: 4%;
	
}
.box-body{
	border: 1px solid #FF0A43;
	margin-bottom: 5%;
	
}
.table-nav-bar{
	background-color: #FF0A43;
	height: 39px;

}
.table-nav-bar-links{
	border: 0px solid black;
	font-family: monospace;
	color: white;
	padding: 8px 31px 11px 31px;
	line-height: 39px;
}
.table-nav-bar-links:hover{
	background-color: #1aff1a;
	color: white;
}
.active{
	background-color: #1aff1a;
}
.active:hover{
	background-color: #1aff1a;
	color: white;
}
.form-body{
	display: none;
	margin-top: 2%;
	font-family: monospace;
}
.submit_btn{
	background-color:  #FF0A43;
	margin-bottom: 4%;
	margin-top: 3%;
	color: white;
	font-size: 16px;
}
.table-body{
	margin-top: 3%;

}
.table-body table tbody tr td,
.table-body table thead tr th
{
	font-family: monospace;
	word-wrap: break-word;
	word-break: break-all;
}
.view-profile-icon{
	background-color: #FF0A43;
	color: white;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	text-align: center;
	line-height: 25px;
	box-shadow: 2px 2px 10px #FF0A43,-2px -2px 10px #FF0A43;
	margin-right: 2%;
}
.edit-icon{
	background-color: #92F21C;
	color: white;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	text-align: center;
	line-height: 25px;
	box-shadow: 2px 2px 10px #92F21C,-2px -2px 10px #92F21C;
	margin-right: 2%;
}
.delete-icon{
	background-color: #FE2916;
	color: white;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	text-align: center;
	line-height: 25px;
	box-shadow: 2px 2px 10px #FE2916,-2px -2px 10px #FE2916;
	cursor: pointer;
}
/*==================================right bar body ends==============================*/
/*==================================responsive css starts============================*/
@media only screen and (max-width: 993px) {
	.menu{
		display: block;
		color: white;
		font-size: 18px;
		margin-top: 13px;
	}
	.side-bar-link-close{
		display: block;
		font-size: 24px;
		color: white;
	}
	.side-bar-link-close .fa-times{
		float: right;
		margin-right: 3%;
	}
	.side-bar{
		/*display: none;*/
		width: 0px;
		left: -100px;
	}
	.right-bar{
		width: 100%;
		left: 0;
	}

}
@media only screen and (max-width: 495px){
	.state-table-column{
		display: none;
	}
	tr .mobile-table-column,
	tr .mobile-table-column{
    display: none;
}

}

/*==================================responsive css ends============================*/